p{
    margin-top: -10px;
    text-transform:capitalize;
}

.uppercase{
    text-transform:uppercase;
}

a{
    text-decoration: none;
}

.h190{
    height: 190px;
}

.m15{
    margin: 15px;
}

.p-10{
    padding: 10px; 
}

.top20{
    top: 20px;
}
.left20{
    left: 20px;
}
.m-b20{
    margin-bottom: 20px;
}
.p-t40{
    padding-top: 40px;
}
.p-b40{
    padding-bottom: 40px;
}

.w95{
    width: 95%;
}

.m-l20{
    margin-left:20px ;
}


.w-200{
    width: 200px;
}

.p-8{

    padding: 8px;
}

.m-b{
    margin-bottom: 5px;
}

.w-120{

    width: 120px;
}

.m-b10{
    margin-bottom: 10px; 

}
.m-t10{
    margin-top: 10px ; 
}


.m-l40{
    margin-left: 40px;
}
.m-t40{
    margin-top: 40px; 
}


.m-t2{
    margin-top: 2px;
}
.m-b2{
    margin-bottom: 2px; 
}
.m-l120{
    margin-left: 120px;   
}


   
